
body{
    background-color: whitesmoke;
    font-family: sans-serif;
}

h1{
    background-color: #6e7da2 ;
    color: whitesmoke;
    padding: 2rem;
    text-align: center;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card{
    background-color:  #db996c;
    text-align: center;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 3px 3px grey;
}

a{
    text-decoration: none;
    color:  #5a71ab;
    font-weight: bold;
    margin: 1em;
}

a:hover{
    color: #0736a5;
}



