
body{
    background-color: whitesmoke;
    font-family: sans-serif;
}

h1{
    background-color: #6e7da2 ;
    color: whitesmoke;
    padding: 2rem;
    text-align: center;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card{
    background-color:  #db996c;
    text-align: center;
    width: 70%;
    margin: 1rem;
    padding: 1rem;
}



